body {
  margin: 0;
  font-family: "Segoe UI";
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  backdrop-filter: blur(10px);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #00c6ff;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

p {
  text-align: center;
  cursor: pointer;
  color: #00c6ff;
}
